<!DOCTYPE html>
<html>
    <head>
        <title>Avilable Fruits and Vegitables</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
    </head>
    <body style="background-color:blueviolet">
        <h1>Delete element Here</h1>
        <form action="/delete" method="post">
            <p>Delete By Pincode <input type = "text" name = "dspincode" /></p>
            <p>Delete By Vegetable Name <input type = "text" name = "dsvegetable" /></p>
            <p>Delete By Fruit Name <input type = "text" name = "dsfruit" /></p>
            <p><input type = "submit" name="submit_button" value = "Delete" /></p>
            <p><input type="submit" name="submit_button" value="All-Data-Delete"><p>
        </form>
            <table>
                {{ value }}
            </table>   
    </body>
</html>